.container {
  width: 50em;
  height: 110vh;
  display: flex;
  background-color: #09090b;
  padding-top: 10vh;
  justify-content: center;
  box-shadow: 0px 0px 106px -71px rgba(255, 255, 255, 1);
}

.content {
  padding: 1.5rem;
  height: 74vh;
  width: 90%;
  border: 2px #27272a solid;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.left {
  padding-top: 1em;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  align-items: center;
  justify-content: flex-start;
  /* background-color: aqua; */
}

.right {
  padding-left: 5%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 1.2em;
  /* background-color: aquamarine; */
}

img {
  display: block;
  border: 2px #27272a double;
  width: 80%;
  padding: 5px;
  backdrop-filter: blur(7.4px);
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.text {
  text-align: start;
  line-height: 1.5;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 22px;
}

.desc {
  text-align: justify;
  line-height: 1.5;
}

.icon .fa {
  color: white;
  z-index: 1;
  font-size: 24px;
  width: 34px;
  text-decoration: none;
  cursor: pointer;
}

.icon a:hover {
  color: rgb(148, 148, 148);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.icon a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 22px;
  height: 3.2em;
  width: 10em;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.home-button:hover {
  border-style: dashed;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.home-button:hover > p {
  text-decoration: underline;
}

.home-button .fa {
  font-size: 15px;
}
