.navbar {
  z-index: 100;
  display: flex;
  position: fixed;
  width: 60vh;
  height: 100vh;
  color: white;
  top: 87vh;
}

.list .nav_link {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(141, 139, 139);
  font-size: 14px;
  letter-spacing: 1.1px;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
}

.list .nav_link.active {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  border: 1px solid white;
  padding: 6px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

li {
  list-style: none;
}

.nav_link:hover {
  color: white;
}

.list {
  display: flex;
  border-radius: 25px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
  border-radius: 36px;
  box-shadow: 0 4px 30px rgba(44, 41, 41, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.76);
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}
