:root {
  /* background-size: contain; */
  background-image: url(https://i.pinimg.com/originals/a2/20/73/a22073539fe928d9d0d4899bb05f7fe4.jpg);
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}